.profile {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.avatar {
  height: 300px;
}

.avatarWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.username {
  font-size: 2rem;
}

.button {
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}