.formWrapper {
  padding-top: 100px;
}

.formAddPost {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.formAddPost__buttonWrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.fromAddPost__input {
  padding: 12px 12px;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;

  outline: none;
}

.fromAddPost__textarea {
  padding: 12px 12px;
  height: 100px;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;

  outline: none;
  resize: none;
}

.formAddPost__image {
  border-radius: 15px;
  max-width: 50%;
}

.quill {
  max-width: 450px;
}

.quill [contenteditable]:focus {
  outline: none;
}

.quill [contenteditable] {
  min-height: 150px;
}